:root {
	--font-family: "Poppins", sans-serif;
	--second-family: "FontAwesome", sans-serif;
	--white-color: #fff;
	--hover-color: #ffd723;
	--low-color: #4d533c;
	--button-color: #d4d6d4;
	--text-color: rgba(33, 56, 66, 0.6);
	--footer-color: #b6c197;
}