@media (max-width: 1200px) {}

@media (max-width: 875px) {

	.idea__cards {
		grid-template-columns: repeat(2, 1fr);
		justify-items: center;
	}

	.footer__left-list {
		grid-template-columns: repeat(2, 1fr);
		align-items: center;

	}

	.idea__header {
		justify-content: center;
		display: flex;
		text-align: center;
	}
}

@media (max-width: 500px) {

	.header__title {
		font-size: 2.5rem;
	}

	.page__header {
		min-height: auto;
		padding-bottom: 3.75rem;
		margin-bottom: 4.375rem;
	}

	.header__content {
		padding-top: 3.75rem;
	}

	.nav {
		padding-bottom: 0;
	}

	.idea__title {
		padding-top: 4.375rem;
		font-size: 1.5625rem;
		text-align: center;
		padding-bottom: 1.5625rem;
	}

	.page__idea {
		padding-bottom: 0;
	}

	.idea__cards {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding-bottom: 3.125rem;
	}

	.make__title {
		padding-top: 0;
		font-size: 1.875rem;
		padding-bottom: 0.9375rem;
	}

	.make__container {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.page__make {
		padding-bottom: 1.5625rem;
		position: initial;
	}

	.footer__cards {
		padding-top: 1.875rem;
	}

	.footer__left-list {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		gap: 1.25rem;
	}

	.footer__center-right-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.footer__bot-content {
		flex-direction: column;
		gap: 0.625rem;
		text-align: center;
	}

	.footer__center {
		padding: 1.5625rem 0;
	}

	.footer__top {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 0.3125rem;
		text-align: center;
		padding-bottom: 1.25rem;
		padding-top: 0;
	}
}

@media (max-width: 431px) {}

@media (max-width: 320px) {}